<!DOCTYPE html>
<html>
  <head></head>
<body>
  <img src = '../images/blue_colour(512X512).png' style="margin-inline-start: 425px; width : 250px;"/>
<h2 style="margin-inline-start: 476px;">Reset Password</h2>
<script>
  function checkpassword()
  {
    var p=f.pass.value;
    var cp=f.cpass.value;
    //using if....else
    if(p==cp)
    alert("New password and confirm password are similar")
    else
    alert("New password and confirm password not match")
    //using ternary operator
    msg=(p==cp)?"Both are some":"";
    alert(msg)

    var otp = document.getElementById('otp').value;
      var password = document.getElementById('pass').value;
      var cpassword = document.getElementById('cpass').value;

      // var message = "Password SuccessFully Update";
      // alert(message);
      console.log('12345',password);
      $.post("https://sandeepshukla.in/api/SaveNewPassword",{password : password,otp : otp}).then((doc)=>{
        if(doc){
          console.log('doc',doc);
        
        }
      })
  }
</script>
<div style="margin-inline-start: 483px;">
<form name="f">
    OTP:<br>
    <input type="text" id="otp" name="txt" />
<br><br>
  NewPassword:<br>
  <input type="password" id="pass" name="pass" />
  <br><br>
  ConfirmPassword: <br>
  <input type="password" id="cpass" name="cpass" />
  <br>
  <br>
  <button  onclick="checkpassword()" >Submit</button>
  <br>

  <!-- <input type="submit"> -->
 </form> 
</div>
<div>
  <!-- <a href="http://localhost:3000/password?/api/verifyResetPassword/${resetPassToken}/">Submit</a> -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
